@model E_Commerce.Models.ChangePasswordModel
@{
    ViewData["Title"] = "changepassword";
    Layout = "~/Views/Shared/_EditProfile.cshtml";
}
<div class="card h-100">
    <div class="card-body">
        <form asp-action="changepassword" asp-controller="Home" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Currentpassword" class="control-label"></label>
                <input asp-for="Currentpassword" class="form-control" />
                <span asp-validation-for="Currentpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Newpassword" class="control-label"></label>
                <input asp-for="Newpassword" class="form-control" />
                <span asp-validation-for="Newpassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group py-3">
                <input type="submit" value="Change password" class="btn btn-primary" onclick="submitCustom(e)" />
            </div>
        </form>
    </div>
</div>
@*<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
*@


@*@if (@ViewBag.alertmesaage != null && @ViewBag.status != null)
{
    <script>

    swal("@ViewBag.alertmesaage ", "You clicked Ok Button!", "@(ViewBag.status?"success":"error")");
    </script>
}*@
@if (TempData["Password"] != null)
{
    <script>
        $.toast({
            heading: 'Success',
            showHideTransition: 'slide',
            icon: 'success',
            text: '@TempData["Password"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}
@if (TempData["error"] != null)
{
    <script>
        $.toast({
            heading: 'error',
            showHideTransition: 'slide',
            icon: 'error',
            text: '@TempData["error"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}
<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>