@model E_Commerce.Models.TBLorder
@*@model Cart*@
@{
    ViewData["Title"] = "checkout";
    Layout = "~/Views/Shared/_custdash.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<div class="container pt-3">
    <div class="row">
        <div class="col-md-8 col-12">
            <div class="card">
                <div class="card-header">Address</div>
                <form asp-action="checkout" method="post">

                    @if (ViewBag.count > 0)
                    {
                        <a asp-action="Create" asp-controller="Home" class="btn btn-success btn-sm" asp-route-returnUrl="@Context.Request.Path">Add Address</a>
                        @foreach (var item in ViewBag.Address)
                        {
                            <div class="card card-body" style="flex-direction:row;">
                                <div>
                                    @*  @Html.RadioButtonFor(Model => Model.ad_id, new { @item.ad_id }, htmlAttributes: new { @class = "mr-2 my-auto" })@item.name,@item.Phone
                                        <br>@item.Address,@item.pincode,,@item.City,@item.State*@
                                    <input asp-for="ad_id" type="radio" value="@item.ad_id" name="ad_id" /> @item.name,@item.Phone
                                    <br>@item.Address,@item.pincode,@item.City,@item.State
                                    <br>  <span asp-validation-for="ad_id" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    }


                    else if (ViewBag.count == 0)
                    {
                        <div class="card card-body text-center justify-content-center">
                            Please Add Address Right Now
                            <div class="text-center">
                                <a asp-action="Create" asp-controller="Home" class="btn btn-success w-25" asp-route-returnUrl="@Context.Request.Path">Add Address</a>
                            </div>
                        </div>
                    }

                    <div class="card-footer"><div align="right"><button type="submit" class="btn text-light" onclick="submitcustom(e)" style="background-color:orangered">Payment</button></div></div>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    Price Detail
                </div>
                <div class="card-body">
                    Total Bill:<span class="font-weight-bold">Rs.@ViewBag.Sum</span>
                </div>
                <div class="card card-body">
                    <div>                        Payment Method:<br><input type="radio" value="COD" checked>&nbsp;<label>Cash On Delivery(COD)</label></div>


                </div>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script>
                   @* $.cookie('ProductId', '', { path: '/' });*@
                    $.removeCookie('ProductId', { path: '/' });
                    location.href = '/Home/orders/';
    </script>
}
@{
    TempData.Keep();
}
<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>

@if (TempData["toastmessage"] != null)
{
    <script>
        $.toast({
            heading: 'error',
            showHideTransition: 'slide',
            icon: 'error',
            text: '@TempData["toastmessage"]',
            position: 'bottom-right',
            stack: false

        })
        $.removeCookie('ProductId', { path: '/' });
    </script>

}