@model IEnumerable<E_Commerce.Models.tblAddress>

@{
    ViewData["Title"] = "ManageAddress";
    Layout = "~/Views/Shared/_EditProfile.cshtml";
}
<style>

.card-address{
padding:5px;
width:100%;
}
.card-address-header{

}
@*.card-body {
background: #f0f0f5;
width: 100%; }
*@.user-name-bold{
font-weight:500;
}
    .linkaddress {
        margin: auto 0;
    }
</style>
@*<div class="card h-100">
    <div class="card-body">*@

<p>
    <a asp-action="Create" class="btn btn-success btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<div class="card-container">

    @foreach (var item in Model)
    {

        <div class="card">
            <div class="card-address">

                <div class="card-body" style="width: 100%;">
                    <div style="display: flex; margin: auto 0; justify-content: space-between;">
                        <p> @item.name @item.Phone </p>

                        <form asp-controller="Home" asp-action="DeleteAddress" asp-route-id="@item.ad_id" method="post">
                            <div class="btn-group">
                                <a asp-action="EditAddress" asp-route-id="@item.ad_id" class="btn  btn-link"><i class="fa fa-edit"></i></a>
                                <button type="submit" class="btn btn-link border-0 d-inline" onclick="return functionConfirm(this)">
                                    <span class="text-danger">
                                        <i class="fa fa-trash"></i>
                                    </span>
                                </button>
                            </div>
                        </form>

                        @* <div class="linkaddress">
                                <a asp-action="EditAddress" asp-route-id="@item.ad_id" class="text-primary"><i class="fas fa-edit"></i></a>
                                <a asp-action="DeleteAddress" asp-route-id="@item.ad_id" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </div>*@
                    </div>
                    <p> @item.Address,<br><b>@item.pincode</b></p>
                </div>
            </div>
        </div>
    }
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
    function functionConfirm(event) {
        console.log('click');

        swal({
            title: "Are You Sure Delete Address?",
            text: "You will not be able to recover this Address",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $('form').submit();

                    swal("Category Deleted Succesfully", {
                        icon: "success",
                        timer: 3000,
                    });
                    return true;
                } else {
                    swal("Delete Process Cancell!");
                    return false;
                }
            });
        return false;

    }
</script>
@if (TempData["alert"] != null)
{
    <script>
        $.toast({
            heading: 'Success',
            showHideTransition: 'slide',
            icon: 'success',
            text: '@TempData["alert"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}
@if (TempData["read"] != null)
{
    <script>
        $.toast({
            heading: 'error',
            showHideTransition: 'slide',
            icon: 'error',
            text: '@TempData["read"]',
            position: 'bottom-right',
            stack: false
        })
    </script>

}