@model IEnumerable<E_Commerce.Models.TBLorder>

@{
    ViewData["Title"] = "orders";
    Layout = "~/Views/Shared/_custdash.cshtml";
    PagenatedList pager = new PagenatedList();
    int pageNo = 0;

    if (ViewBag.Pager != null)
    {

        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<style>
    a:hover{
       @* text-decoration:none;*@
        color:none;
    }
    #link1{
        color:red;
    }
    #links:hover
    {
        cursor:pointer;
        text-decoration:none;
        color:black;
    }

</style>

<div class="container py-3">
    @* @Model.Count()*@
    @if (Model.Count() > 0)
    {
        <form asp-action="orders">

            <div class="input-group">
                <input type="search" name="search" id="search3" class="form-control" placeholder="Search Order" aria-label="Search" aria-describedby="search-addon" style="" />
                <input type="hidden" id="hfcustom1" name="Product_name" />
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> Search Order</button>

            </div>
        </form>


        <section class="py-2">
            @foreach (var item in Model)
            {

                <div class="card card-body mt-2" id="cursor" style="font-size: 14px; font-family:Roboto,Arial,sans-serif;">
                    <a asp-action="getdetails" asp-route-id="@item.orderid" id="links">
                        <div class="row">
                            <div class="col-4 col-md-2 p-1"><img src="~/Products/@item.prd.ImageFile" alt="" srcset="" style="height: 75px;width: 85px;"></div>
                            <div class="col-4 col-md-3 p-1">@item.prd.Product_name</div>
                            <div class="col-4 col-md-3 p-1">
                                RS.@item.totalpay
                            </div>
                            <div class="col-12 col-md-4 text-justify text-md-left p-1">
                                @if (item.status == "Pending")
                                {
                                    <span style="color:orange"> Status:@item.status</span>
                                }
                                else if (item.status == "Dispatch" || item.status == "OutOfDelivery" || item.status == "Deliver")
                                {
                                    <span style="color:green"> Status:@item.status</span>
                                }
                                else if (item.status == "Cancel")
                                {
                                    <span style="color:red"> Status:@item.status</span>
                                }

                                <br>Order-Date:@item.date.ToString("dd/MM/yyyy")
                                @if (item.status == "Pending" || item.status== "Dispatch")
                                {
                                    @*<br><a asp-action="cancelorder" id="link1" class="btn btn-danger btn-sm text-light"><i class="fa fa-window-close" aria-hidden="true"></i>&nbsp; Cancel Order</a>*@

                                    <form asp-action="cancelorder" asp-controller="Home" asp-route-id="@item.orderid" class="mt-1">
                                        <button type="submit" class="btn btn-danger btn-sm text-light"><i class="fa fa-window-close" aria-hidden="true"></i>&nbsp; Cancel Order</button>
                                    </form>
                                }
                                else if (item.status == "Cancel" || item.status == "Deliver")
                                {

                                }
                                else if(item.status == "OutOfDelivery")
                                {
                                    <br><span class="text-danger">Can't Order Cancel</span>
                                }
                            </div>
                        </div>
                    </a>
                </div>

            }
        </section>
    }
    else
    {
        <div class="text-center">
            <img src="~/Image/shopping-bag.png" style="width:40%;height:375px;max-height:375px;min-height:auto;" />
            <p style="font-size:16px;font-family:Arial, Helvetica, sans-serif;" class="text-danger">Not Avlible Oreder This Account Show Here</p>
        </div>
    }
    <div class="pt-3">
        @if (pager.TotalPages > 1)
        {
            <ul class="pagination justify-content-center justify-content-md-end">

                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="orders" asp-route-pagenumber="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="orders" asp-route-pagenumber="@(pager.CurrentPage-1)">Previous</a>
                    </li>
                }


                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge==pager.CurrentPage?"active":"")">
                        <a class="page-link" asp-controller="Home" asp-action="orders" asp-route-pagenumber="@pge">@pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-controller="Home" asp-action="orders" asp-route-pagenumber="@(pager.CurrentPage+1)">Next</a>
                    </li>
                    <li>
                        <a class="page-link" asp-controller="Home" asp-action="orders" asp-route-pagenumber="@(pager.TotalPages)">Last</a>
                    </li>

                }
            </ul>
        }
    </div>
</div>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.alert != null)
{
<script>
       @* swal("@ViewBag.alert", "Please Click This Button!", "error");*@
    $.toast({
        position: 'bottom-right',
            heading: 'Error',
            text: '@ViewBag.alert',
            showHideTransition: 'fade',
            icon: 'error'
        })
</script>

}
@if (TempData["message"] != null) { 
    <script>
        $.toast({
            heading: 'Success',
            showHideTransition: 'slide',
            icon: 'success',
            text: '@TempData["message"]',
            position: 'bottom-right',
            stack: false
        })
        </script>
}
