@model E_Commerce.Models.singinmodel

@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_login.cshtml";
}

@*<script src="/js/app.js"></script>*@
<div class="forms-container">
    <div class="signin-signup">
        <form method="post">
            <h2 class="title">Sign in</h2>
            <div asp-validation-summary="ModelOnly" style="color:red;"></div>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <br />
                <span asp-validation-for="Email" style="color:red;"></span>
            </div>
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <br />
                <span asp-validation-for="Password" style="color:red;"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input type="checkbox" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <a asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a>
            <div class="form-group">
                <input type="submit" value="Login" class="btn solid" onclick="submitcustom(e)" />
            </div>
        </form>
    </div>
</div>

<div class="panels-container">
    <div class="panel left-panel">
        <div class="content">
            <h3>New here ?</h3>
            <p>
                Register New Account For E-Shoping
            </p>
            <input type="button" value="Sign up" id="singup" class="btn transparent" onclick="location.href = '/singup/'">

        </div>
        <img src="~/Image/register.svg" class="image" alt="" />
    </div>

</div>



@if (@ViewBag.alertmesaage != null && @ViewBag.status != null)
{
    <script>
    swal("@ViewBag.alertmesaage ", "You clicked Ok Button!", "@(ViewBag.status?"success":"error")");
    </script>
}
<script>
    function submitCustom(e) {
        e.preventDefault();

    }
</script>