
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Customer/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js" integrity="sha256-6XMVI0zB8cRzfZjqKcD01PBsAy3FlDASrlC8SxCpInY=" crossorigin="anonymous"></script>
    <script src="~/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark align-content-center fixed-top" style="background-color: #007bff;">
        <div class="container-fluid">
            <a class="navbar-brand align-content-center mx-lg-5 mx-0 p-0" asp-action="Index" asp-controller="Home" id="brand">
                <img src="~/Image/E_Commerce.png" alt="E-Commerce" class="navbar-brand img-fluid social-icon" style="width:55px; max-width:55px;">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon top-bar"></span>
                <span class="toggler-icon middle-bar"></span>
                <span class="toggler-icon bottom-bar"></span>
            </button>

            <div class="collapse navbar-collapse mt-3 p-0" id="navbarResponsive">
                <form asp-action="Index" asp-controller="Home" method="post" class="col-sm-12 col-md-6 ml-1 my-2 mt-lg-0 vw-100">
                    <div class="form-group input-group-text text-primary bg-white">
                        @*<div class="">*@
                        <input type="text" id="search2" name="search" class="form-control border-0" placeholder="Search for products,brands and more" />
                        <div>
                        <input type="hidden" id="hfcustom" name="Product_name" />
                            </div>
                        <button type="submit" class="bg-white fa fa-search bg-white btn-lg border-0" />

                        @*</span>*@
                        @*</div>*@
                    </div>
                </form>
                



                <ul class="navbar-nav my-0 mx-auto mt-lg-0 align-content-center">
                    <li class="nav-item mx-md-auto">
                        <a class="nav-link text-light" asp-action="Index" asp-controller="Home" id="link"><i class="fas fa-home">Home</i><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item mx-md-auto">
                        <a class="nav-link text-light" asp-action="aboutus" id="link"><i class="fas fa-id-card-alt">About Us</i></a>
                    </li>
                    <li class="nav-item mx-md-auto">
                        <a class="nav-link text-light" asp-action="contactus" id="link"><i class="fa fa-american-sign-language-interpreting">Contact Us</i></a>
                    </li>

                    @if (_signInManager.IsSignedIn(User))
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <li class="nav-item mx-md-auto">
                                <a class="nav-link js-scroll-trigger text-light" asp-action="cart" asp-controller="Home" asp-route-cart="@TempData["getid"]">
                                    <i class="fas fa-shopping-cart">
                                        Cart
                                        <span class="badge badge-danger item_count">0</span>
                                    </i>
                                </a>
                            </li>
                            <li class="nav-item dropdown d-flex justify-content-sm-start">
                                <a class="nav-link dropdown-toggle text-light font-weight-bold btn btn-sm border-0" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.FindFirst("UserFirstName").Value</a>
                                <div class="dropdown-menu bg-light my-1 p-0" aria-labelledby="dropdownId">

                                    <a class="dropdown-item font-weight-bold" id="a_id">Logout</a>

                                    <a class="dropdown-item font-weight-bold" asp-action="EditProfile" asp-controller="Home" asp-route-id="@TempData["getid"]">My Profile</a>

                                </div>
                            </li>
                        }

                       @* else
                        {
                            <li class="nav-item mx-md-auto">

                                <a class="nav-link text-light btn btn-outline-primary" asp-action="login" asp-controller="Account" asp-route-returnUrl="@Context.Request.Path" id="link"><i class="fa fa-users">Login</i></a>

                            </li>

                        }*@

                    }
                    else
                    {
                        <li class="nav-item mx-md-auto">
                            <a class="nav-link js-scroll-trigger text-light" asp-action="cart" asp-controller="Home">
                                <i class="fas fa-shopping-cart">
                                    Cart
                                    <span class="badge badge-danger item_count">0</span>
                                </i>
                            </a>
                        </li>

                        <li class="nav-item mx-md-auto">

                            <button class="nav-link btn btn-light text-primary py-1 px-2 btn-sm" onclick="location.href = '/Account/Login/'">Login</button>

                        </li>
                    }


                </ul>
            </div>



    </nav>
    <div>
        @RenderBody()
    </div>
    <footer class="page-footer font-small pt-0 " style="position: sticky; top: 100%; background-color: #172337; color: #f0f0f0; ">



        <!-- Footer Links -->
        <div class="container text-center text-md-left ">



            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">



                <hr class="w-100 clearfix d-md-none">



                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
                    <p>
                        <a href="#!">Ecommerce</a>
                    </p>
                    <p>
                        <a href="#!">Best Product</a>
                    </p>
                    <p>
                        <a href="#!">About Company</a>
                    </p>




                </div>
                <!-- Grid column -->



                <hr class="w-100 clearfix d-md-none">



                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                    <p>
                       
                      
                            <a asp-action="EditProfile">Account</a>

                    </p>



                    <p>
                        <a  asp-action="aboutus">About us </a>
                    </p>
                    <p>
                        <a asp-action="contactus">Contact us</a>
                    </p>

                </div>



                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">



                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <p>
                        <i class="fas fa-home mr-3"></i> Gujarat,India
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> Ecommerce@gmail.com
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> +919876543210
                    </p>

                </div>
                <!-- Grid column -->



            </div>
            <!-- Footer links -->



            <hr>



            <!-- Grid row -->
            <div class="row d-flex align-items-center">



                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">



                    <!--Copyright-->
                    <p class="text-center text-md-left">
                        © 2020 Copyright:
                        <a href="#">
                            <strong>Ecommerce.com</strong>
                        </a>
                    </p>



                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">



                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a href="#" class="btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#" class="btn-floating btn-sm rgba-white-slight mx-1">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>



                </div>
                <!-- Grid column -->



            </div>
            <!-- Grid row -->



        </div>
        <!-- Footer Links -->



    </footer>






    @* <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>*@


    <script>
        $("#a_id").click(function () {

            swal({
                title: 'Logout',
                text: 'Do you want to logout this Account?',
                icon: 'warning',
                buttons: true,
                dangerMode: true
            })
                .then((willOUT) => {
                    if (willOUT) {
                        window.location.href = '/Account/logout', {
                            icon: 'success',
                        }
                    }
                });

        });
    </script>

</body>
</html>
@{
    TempData.Keep("getid");
 }